.cards {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  row-gap: 20px;
  column-gap: 18px;
  list-style-type: none;
  padding: 0;
<<<<<<< HEAD
  margin: 0;
=======
>>>>>>> c9b8445b94ab41a2309d1618e78d39d120b2051a
}
@media screen and (max-width: 920px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}
@media screen and (max-width: 602px) {
  .cards {
    grid-template-columns: 282px;
  }
}
