.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 0 60px;
  font-family: "Inter", sans-serif;
  position: relative;
}
@media screen and (max-width: 920px) {
  .page {
    padding: 28px 0 36px;
  }
}
@media screen and (max-width: 602px) {
  .page {
    padding: 28px 0 36px;
  }
}
