.card__delete {
    
    position: absolute;
    top: 18px;
    left: 249px;
    border: 0;
    background: url('../../../images/delete_button.svg') no-repeat center;
    background-size: contain;
    width: 18px;
    height: 19px;
    outline: none;
    display: none;
    
}
.card__delete:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.5s linear 0s;
}