.content {
  margin: 0 auto;
  max-width: 882px;
}
<<<<<<< HEAD
=======

>>>>>>> c9b8445b94ab41a2309d1618e78d39d120b2051a
@media screen and (max-width: 602px) {
  .content {
    max-width: 282px;
    flex-direction: column;
    margin: 0 auto 48px;
  }
}
