.profile__add-button {
  box-sizing: border-box;
  background-color: #000000;
  width: 150px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  transition: 0.5s linear 0s;
  background: url("../../../images/add_button-icon.svg") no-repeat center;
}
@media screen and (max-width: 920px) {
  .profile__add-button {
    align-self: flex-end;
  }
}
@media screen and (max-width: 602px) {
  .profile__add-button {
    width: 282px;
    margin: 36px 0 0;
    background: url("../../../images/add_button-icon-mobile.svg") no-repeat
      center;
  }
}
.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
