.profile__image-author {
  width: 120px;
  height: 120px; 
  border-radius: 60px;
  margin: 0 30px 0 0;
  object-fit: cover;
}
@media screen and (max-width: 920px) {
  .profile__image-author {
    align-self: flex-end;
  }
}
@media screen and (max-width: 602px) {
  .profile__image-author {
    align-self: center;
    margin: 0 0 10px;
  }
}
.profile__image-author:hover{
  opacity: 0.2;
}