.popup__button_disabled {
    color: #000000;
    border: 1px solid #000000;
    background-color: #fff;
    opacity: 0.2; 
}
.popup__button_disabled:hover {
    cursor: default;
    background-color: #fff;
  }