.header {
  max-width: 882px;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 920px) {
  .header {
    max-width: 582px;
    padding-left: 27px;
  }
}
@media screen and (max-width: 602px) {
  .header {
    max-width: 320px;
  }
}
