.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ffffff;
<<<<<<< HEAD
  overflow: hidden;
=======
>>>>>>> c9b8445b94ab41a2309d1618e78d39d120b2051a
}
