.popup__form-author {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 28px;
  margin: 0;
  border-width: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;
}
@media screen and (max-width: 512px) {
  .popup__form-author {
    height: 24px;
    font-size: 12px;
    line-height: 15px;
  }
}
.popup__form-author:last-of-type {
  margin-top: 28px;
}
@media screen and (max-width: 512px) {
  .popup__form-author:last-of-type  {
    margin-top: 20px;
  }
}
